#width, #height {
  width: 80px;
}

#reset-table {
  position: relative;
  bottom: 1.5px;
}

td {
  height: 30px;
}
@media only screen and (max-width: 768px) {
  .btn {
    margin: 0 0 3px 0;
  }
  #height, #width {
    margin: 0 auto;
  }
}